<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147473642118-oe762tqkt2mnpsdjnmghpeq9h6emlacu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147473642118-oe762tqkt2mnpsdjnmghpeq9h6emlacu</string>
	<key>API_KEY</key>
	<string>AIzaSyD0mEMPvI1hDw_RJXqv5RYogARBXaefmTY</string>
	<key>GCM_SENDER_ID</key>
	<string>147473642118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aleksey-libin.FlowersShop</string>
	<key>PROJECT_ID</key>
	<string>flowershop-28815</string>
	<key>STORAGE_BUCKET</key>
	<string>flowershop-28815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147473642118:ios:2445afa60e314a7ad51707</string>
</dict>
</plist>